
body, p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-weight: 400;
}

.lead{
    font-weight: 300;
}


/* http://colorschemedesigner.com/#3911Tw0w0w0w0 */
.bg-dull {
    background-color: #1f7d63;
}
.bg-light{
    background-color: #5fd3b3
}
.bg-base {
    background-color: #00A779;
}

.bg-bright {
    background-color: #35d3a7;
}

.bg-dark {
    background-color: #006d4f;
}


.spacer {
    height: 15px;
}

.spacer-lg {
    height: 30px;
}

.spacer-xl{
    height: 60px;
}

.dark {
    color: #006d4f;
}

.font-silly{
    font-family: 'Gloria Hallelujah', cursive;
}


.font-on-dark {
    color: #FFFFFF;
}


.bg-hero {
    background: url('../img/golf-bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 400px;*/
    color: black;    
}

.bold{
    font-weight: 700;
}
.full-width {
    width: 100%;
}

.header, .footer {
    background-color: #2E3137;
    color: #fff;
}

.header{
    height: 40px;
    line-height: 30px;
}

.brand{
    font-weight: 400;
    font-size: 18px;
    color: #999;
    padding-left: 5px;
    padding-right:5px;
    width: 145px;
}

.header a{
    text-decoration: none;
    color: #999;
}

.header a:hover{
    color: #fff;
}


.nav ul{
    list-style-type: none;    
    padding: 0;
    margin: 5px 3px 0px;
}

.nav ul li{
    display: inline;
    float:left;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.nav-link{
    padding-left: 5px;
    padding-right: 5px;
}

.nav ul li a{
    display: block;
}

.nav ul li a:hover{
    background-color: #535353;    
    border-radius: 8px;
    
    -webkit-transition: background-color ease-in-out .3s;
    -moz-transition: background-color  ease-in-out .3s;
    -o-transition: background-color ease-in-out .3s;
    transition: background-color  ease-in-out .3s;
}


.form-width {
    max-width: 400px;
}


.nudge-left{
    padding-right: .4em;
}
.nudge-right {
    padding-left: .4em;
}


.login{
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.login i{
    opacity: 1;
}

.login i:hover{
    opacity: .65;
}

.login.facebook {
    color:#3B5998;
}

.login.twitter{
    color: #55ACEE;
}

.login.google{
    color: #F90101;
}

.login.windows{
    color: #A200FF;    
}

.signin-control {
    max-width: 500px;
}

.btn-hero {
    min-width: 150px;
    max-width: 300px;
}



.btn-join {
    width: 175px;
}


.new-group-form {
    max-width: 500px;
}

#new-group-name.ng-invalid{
    color: white;
    background: red;
}
