/*

#61CDF5 - a blue
#555555 - a gray
*/

/*this is added for compatibility with ui-bootstrap and bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body, p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-weight: 400;
}

.lead{
    font-weight: 300;
}

.bg-dark {
    background-color: #2E3137;
}

.spacer {
    height: 15px;
}

.spacer-lg {
    height: 30px;
}

.spacer-xl{
    height: 60px;
}

.dark {
    color: #006d4f;
}

.font-title{
    font-weight:300;
}


.font-on-dark {
    color: #FFFFFF;
}

.hero-bg {
    
    background: url('../img/bkg_blur.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    color: white;    
}

.hero-btn{
}

.hero-text-area{
    position: absolute;
    top: 350px;
    width:100%;
}
    

.hero-slogan
{
    font-weight: 300;
    font-size: 34px;
    margin-top: 40px;
    margin-bottom: 10px;   
}

.hero-text{
    font-weight: 300;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px; 
}

.hero-btn {
    min-width: 150px;
    max-width: 300px;
    text-transform: uppercase;
}



.bold{
    font-weight: 700;
}
.full-width {
    width: 100%;
}

.header {
    background-color: #2E3137;
    color: #fff;
/*    border-bottom: 2px solid #999;    */
    border-bottom: 2px solid #555555;    
    height: 50px;
    line-height: 35px;
}

.footer {
    height: 100px;
    background-color: #2E3137;
    margin-top: 50px;
    color: #61CDF5;
}

.brand{
    font-weight: 400;
    font-size: 24px;
    color: #999;
    padding-left: 5px;
    padding-right:5px;
    width: 210px;
}

.header a{
    text-decoration: none;
    color: #999;
}

.header a:hover{
    color: #fff;
}


.nav ul{
    list-style-type: none;    
    padding: 0;
    margin: 5px 3px 0px;
}

.nav ul li{
    display: inline;
    float:left;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.nav ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.nav ul li a i{
    margin-right: 5px;
}

.nav ul li a:hover{
    background-color: #535353;    
    border-radius: 8px;
    
    -webkit-transition: background-color ease-in-out .3s;
    -moz-transition: background-color  ease-in-out .3s;
    -o-transition: background-color ease-in-out .3s;
    transition: background-color  ease-in-out .3s;
}


.form-width {
    max-width: 400px;
}


.nudge-left{
    padding-right: .4em;
}
.nudge-right {
    padding-left: .4em;
}


.login{
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.login i{
    opacity: 1;
}

.login i:hover{
    opacity: .65;
}

.login.facebook {
    color:#3B5998;
}

.login.twitter{
    color: #55ACEE;
}

.login.google{
    color: #F90101;
}

.login.windows{
    color: #A200FF;    
}

.signin-control {
    max-width: 500px;
}


.thumbnail-lg h4 i{
    color: #61CDF5;
}

.btn-join {
    width: 175px;
}


.new-group-form {
    max-width: 500px;
}

.no-bullets {
    list-style: none;
}

.date-picker {
    display: inline-block;
    min-height: 300px;
}



.add-event-row {
    padding-bottom: 10px;
}


.event-list-sm {
    border-bottom: 1px solid black;
    margin-bottom: 1.5em;
    width: 95%;
}

.btn-page-header {
    margin-top: 25px;
}

.text-instruction {
    text-transform: none;
}

.thumbnail-lg {    
    min-height: 225px;
}



.section-header {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
}

.more-info {
    margin-top: 60px;
    margin-bottom: -10px;
    display: block;
    text-decoration: none;
    color: inherit;
}

.more-info:hover{
    color:inherit;
}
