
<div class="text-center" >
    <h1>Add Event</h1>
    <p class="text-muted">because you can</p> {{groupID}}

    <form  role="form" name="addEventForm" ng-submit="addEvent()" novalidate>
        {{eventName}}
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <label for="eventName" class="control-label">name</label>
                <input type="text" 
                       class="form-control" 
                       name="eventName" 
                       placeholder="an event name" 
                       ng-model="eventName"                        
                       ng-minlength="5"
                       ng-maxlength="50"
                       required
                       ng-blur="nameFocus = false"
                       ng-focus="nameFocus = true"
                       >                
                <p ng-show="!nameFocus && addEventForm.eventName.$invalid && !addEventForm.eventName.$pristine" class="bg-danger text-center">event name must be betwen 5 and 50 characters</p>
            </div>
        </div>
        
        <div class="row">            
            <div class="col-sm-offset-1 col-sm-10">
                <div ng-model="date" class="center-block">
                    <datepicker min="minEventDate" show-weeks=false></datepicker>
                </div>            
            </div>
        </div>

            
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <label for="description" class="control-label">description</label>            
                <textarea type="text" rows="3" 
                          class="form-control" 
                          name="description" 
                          placeholder="interesting text goes here" 
                          ng-model="description"                          
                          ng-maxlength="500"
                          >
                </textarea>
                <p ng-show="addEventForm.description.$invalid && !addEventForm.description.$pristine" class="bg-danger text-center">description is too long</p>
            </div>
        </div>
        <div class="row">
            <div class ="col-sm-offset-4 col-sm-4">
                <button class="btn btn-primary" type="submit" ng-disabled="addEventForm.$invalid">Add Event <i ng-show="processing" class="fa fa-spinner fa-spin"></i></button>
            </div>
        </div>
    </form>
    
    
</div>