<div ng-controller="GroupCtrl">
    
    <div class="container"  ng-show="loading">
        <div class="text-center">    
            <h1><i class="fa fa-spinner fa-spin fa-2x"></i></h1>
        </div>
    </div>
        
    <div class="container"  ng-show="!loading">

        <div class="page-header">
            <h1>{{group.name}}</h1>
            <p class="text-muted">{{group.description}}</p>
        </div>
        
        
        <div class="row">
        
            <div class="col-sm-6">
                <h3>Upcoming Events <small><i class="fa fa-plus" ng-click="addEvent()"></i></small></h3>
                <p class="text-muted">things about to happen</p>
                <div class="" ng-show="loadingEvents">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
            </div>
            
            <div class="col-sm-6">
                <h3>Recent Activity</h3>
                <p class="text-muted">stuff in the past</p>
                <div class="text-center" ng-show="activityLoading">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
            </div>
            
        </div>        
    </div>  
</div>