<div class="spacer-lg bg-light"> </div>
<div class="section bg-light">
    <div class="jumbotron bg-base">
        <h1 class="font-silly text-center">when are you playing next?</h1>

    </div>


    <div class="container">
        <div class="row">
            <p class="lead text-center">An easier way to manage tee times with friends.  </p>
        </div>

        <div class="row">
                <button class="btn btn-default bg-dark col-xs-offset-2 col-xs-3 font-on-dark">Sign Up for Free</button>
            <div class="col-xs-2"></div>
                <button class="btn btn-default bg-dark col-xs-3 font-on-dark">Sign In</button>

        </div>

    </div>
    
    <div class="spacer-lg"></div>
</div>

<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">        
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-calendar fa-4x"></i>
                </div>
                <div class="col-xs-9">
                    <h4 >Organize</h4>
                    <ul>
                        <li>Single source for your golf schedule</li>
                        <li>item 2</li>
                        <li>item 3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">        
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <div class="col-xs-9">
                    <h4 >Simplify</h4>
                    <ul>
                        <li>Easily create events</li>
                        <li>Facebook</li>
                        <li>E-Mail</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">        
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-calendar fa-4x"></i>
                </div>
                <div class="col-xs-9">
                    <h4 >Organize</h4>
                    <ul>
                        <li>item 1</li>
                        <li>item 2</li>
                        <li>item 3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">        
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <div class="col-xs-9">
                    <h4 >Connect</h4>
                    <ul>
                        <li>Twitter</li>
                        <li>Facebook</li>
                        <li>E-Mail</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>