<div ng-controller="HomeOverviewCtrl">


    <div class="container">

        <div class="page-header">
            <h1>Overview</h1>
            <p class="text-muted">people to see, golf to play</p>
        </div>
        
        
        <div class="row">
        
            <div class="col-sm-6">
                <h3>Commitments</h3>
                <p class="text-muted">events you signed up for</p>
                <div class="" ng-show="loadingEvents">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
                <div class="row">                    
                    <div ng-repeat="event in events | filter: { SignedUp: 1} | orderBy:EventDate" >                        
                        <div class="col-xs-9">
                            <h4>{{event.EventDate | date: "EEE '-' MMM d '@' h:mm a" }}</h4>
                            <p><span class="text-muted">What:&nbsp;&nbsp;</span>{{event.EventName}}</p>
                            <p><span class="text-muted">With:&nbsp;&nbsp;</span>{{event.GroupName}}</p>
                        </div>
                        <div class="col-xs-3 text-center">
                            <button class="btn btn-default" ng-click="leaveEvent(event.EventMemberID, event.EventID)"><i class="fa fa-minus fa-2x"></i></button>
                        </div>
                        <div class="col-xs-12 event-list-sm"></div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <h3>Opportunities</h3>
                <p class="text-muted">you've got options</p>
                <div class="text-center" ng-show="loadingEvents">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
                 
                <div class="row">                    
                    <div ng-repeat="event in events | filter: { SignedUp: 0} | orderBy:EventDate" >                        
                        <div class="col-xs-9">
                            <h4>{{event.EventDate | date: "EEE '-' MMM d '@' h:mm a" }}</h4>
                            <p><span class="text-muted">What:&nbsp;&nbsp;</span>{{event.EventName}}</p>
                            <p><span class="text-muted">With:&nbsp;&nbsp;</span>{{event.GroupName}}</p>
                        </div>
                        <div class="col-xs-3 text-center">
                            <button class="btn btn-default" ng-click="addEvent(user.id, event.EventID)"><i class="fa fa-plus fa-2x"></i></button>
                        </div>
                        <div class="col-xs-12 event-list-sm"></div>
                    </div>
                </div>
                
            </div>
            
        </div>    
        
        <div class="row">
        
            <div class="col-sm-6">
                <h3>Groups You Own</h3>
                <p class="text-muted">it's good to be king</p>
                <div class="" ng-show="loadingGroups">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
                <div ng-repeat="group in groups | filter: {GroupOwnerID : user.id }">
                    <a href="#/group/{{group.GroupID}}">{{group.GroupName}}</a>
                </div>
            </div>
            
            <div class="col-sm-6">
                <h3>Affiliations</h3>
                <p class="text-muted">they can't all be 10s</p>
                <div class="text-center" ng-show="loadingGroups">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
                <div ng-repeat="group in groups | filter: { MemberProfileID: user.id }">
                    <a href="#/group/{{group.GroupID}}">{{group.GroupName}}</a>
                </div>
            </div>
            
        </div>
    </div>  

</div>