<div class="spacer-lg bg-light"> </div>
<div class="section bg-light">
    <div class="jumbotron bg-base">
        <h1 class="font-silly text-center">when are you golfing next?</h1>

    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <p class="lead text-center">An easier way to manage tee times with friends.  </p>
            </div>
            <button class="btn btn-default bg-dark col-xs-3 font-on-dark" onclick="window.location.href='#/signin'">Sign In</button>
        </div>

    </div>
    
    <div class="spacer-lg"></div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-xs-12">
                <h3>How It Works</h3>
            </div>
        </div>
        <div class="row">            
            <div class="col-xs-2">
                <p class="text-center"><i class="fa fa-sign-in fa-2x"></i></p>
            </div>
            <div class="col-xs-10">
                <span class="h4">Sign In</span><p>Use an existing social network account or create a new NextGolfTime account.  It's all free!</p>
            </div>
        
        </div>
    
        <div class="row">            
            <div class="col-xs-2">
                <p class="text-center"><i class="fa fa-users fa-2x"></i></p>
            </div>
            <div class="col-xs-10">
                <span class="h4">Connect</span><p>Create or join existing group of players.  No limitations on the number groups you can join.</p>
            </div>  
        </div>
        <div class="row">            
            <div class="col-xs-2">
                <p class="text-center"><i class="fa fa-calendar fa-2x"></i></p>
            </div>
            <div class="col-xs-10">
                <span class="h4">Schedule</span><p>Create and sign up for events.  Get notifications on any changes.</p>
            </div>  
        </div>
        <div class="row">            
                <div class="col-xs-2">
                    <p class="text-center"><i class="fa fa-share fa-2x"></i></p>
                </div>
            <div class="col-xs-10">
                <span class="h4">Share</span><p>Put your events out onto the social networks.  Post your scores and results for all important bragging rights!</p>
            </div>  
        </div>
    </div>
</div>


<div class="spacer"></div>

<div class="section bg-light">
    <div class="spacer-lg"></div>

    <div class="container">
        <div class="row">            
            <div class="col-xs-2 pull-right">
                <p class="text-center">
                    <i class="fa fa-user fa-4x"></i>
                    <p class="text-center">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-google-plus"></i>
                    </p>
                </p>
            </div>
            <div class="col-xs-10">
                <span class="h3">User Profile</span>
                <p>more text here</p>
     
                
            </div>  
        </div>
    </div>    
</div>

<div class="section">
    <div class="spacer-lg"></div>

    <div class="container">
        <div class="row">            
            <div class="col-xs-2 pull-left">
                <p class="text-center"><i class="fa fa-group fa-4x"></i></p>
            </div>
            <div class="col-xs-10">
                <span class="h3">Groups</span>
                <p>Groups allow events and information to be easily shared.  Groups are great for just a weekend foursome or for an entire country club.  When you join a group you can quickly see what that group has planned.  Groups can be public and let anyone join, or private and require approval.</p>
            </div>  
        </div>
    </div>    
</div>