<div ng-controller="LoginCtrl" class="text-center">
<div class="spacer-lg header"> </div>
    
    
    <h1>Log In</h1>
    
    <p class="text-muted">Already have an account?  Great!  Log in here.</p>
    
    
    <div class="container">
        
        <form role="form">            
            <div class="form-group input-group col-xs-offset-2 col-xs-8">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group input-group col-xs-offset-2 col-xs-8">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-info btn-lg center-block">                
                Login
                <span class="fa fa-rocket"></span>
            </button>
        </form>
                
    </div>
    
    <div class="spacer-lg"></div>
   
    <p class="text-muted">Forgot password?  It's okay.  <strong>RECOVER HERE <i class="fa fa-angle-double-right"></i></strong></p>
    
    <div class="spacer-lg"></div>
    
    <p class="text-muted">Or you can login with one of the following</p>
    <div class="row">        
        <div class="col-xs-2"></div>
        <div class="login-facebook col-xs-2"><i class="fa fa-facebook fa-3x"></i></div>
        <div class="login-twitter col-xs-2"><i class="fa fa-twitter fa-3x"></i></div>
        <button class="login-google col-xs-2 btn" ng-click="login('google')"><i class="fa fa-google-plus fa-3x"></i></button>
        <div class="login-windows col-xs-2"><i class="fa fa-windows fa-3x"></i></div>
    </div>
    
    <div class="spacer-lg"></div>
    <p class="text-muted">Forgot password?  It's okay.  <strong>REGISTER NOW<i class="fa fa-angle-double-right"></i></strong></p>
    
    <div ng-show="currentUser">
        Here is a list of the groups in the DB:
        <div ng-repeat="g in groups">
            <h3>{{g.Name}}</h3>
            <small>{{g.Description}}</small>
        </div>
    </div>
    
</div>
