
<div ng-controller="LandingPageCtrl">
<div class="hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="hero-slogan text-center">The easiest way to organize golf with your friends</p>            
            </div>
        </div>
    </div>

        <div class="hero-text-area">
            <div class="text-center">
                <p class="hero-text ">When are you golfing next?</p>
                <button class="center-block btn btn-primary hero-btn" onclick="window.location.href='#/signin'">Sign In</button> 
                
                <a ng-click="goToID('howitworks')" class="more-info-link pointer">
                    <p class="more-info">More info</p>
                    <p class="fa fa-angle-down fa-4x"></p>
                </a>
            </div>
        </div>        
        
</div> 



<div class="container">
    
    <div class="row">
        <div class="col-xs-12 text-center">
            <a id="howitworks"></a><div class="section-header">How It Works</div>
            <p class="text-center text-muted">Next Golf Time makes it easy to track your golf groups</p>
        </div>
    </div>
    <div class="row">            
        <div class="col-xs-12 col-md-4 col-sm-6  ">                
            <div class="thumbnail thumbnail-lg">
                <h4>Sign In <i class="fa fa-sign-in fa-4x pull-right nudge-left"></i></h4>
                <p class="text-instruction text-muted">The last thing you need is another username and password to remember.</p>
                <p class="text-instruction text-muted">Use an existing social network account so there is no lengthy registration process.</p>
                <div class="social-networks text-center"><i class="fa fa-google-plus-square google"></i><i class="fa fa-twitter-square twitter"></i><i class="fa fa-facebook-square facebook"></i><i class="fa fa-windows windows"></i></div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-sm-6 ">
            <div class="thumbnail thumbnail-lg">
                <h4>Connect <i class="fa fa-users fa-4x pull-right nudge-left"></i></h4>
                <p class="text-instruction text-muted">Join up with your friends or create a group and let them join you.</p>
                <p class="text-instruction text-muted">Privacy controls let you decide how much others can see and who can join your events.</p>
                <p class="text-instruction text-muted"><a ng-click="goToID('groupmgmt')" class="pointer">Read more</a> about the features of group management. </p>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-sm-6 ">
            <div class="thumbnail thumbnail-lg">
                <h4>Schedule <i class="fa fa-calendar fa-4x pull-right nudge-left"></i></h4>

                <p class="text-instruction text-muted">Quickly add events and see where you have already committed.  You'll be able to easily see upcoming events for your groups. </p>
                <p class="text-instruction text-muted">Optionally receive email notifications of any changes.</p>
            </div>                
        </div>

    </div>    


</div>



<div class="container">
    
    <div class="row">
        <div class="col-xs-12 text-center">
            <a id="groupmgmt"></a>
            <div class="section-header">Group Management</div>
            <p class="text-center text-muted">Creating a group allows for additional features that you won't get otherwise</p>
        </div>
    </div>

    
    <div class="row">
    
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail-lg">
                <h4><i class="fa fa-shield fa-4x pull-left nudge-right"></i>Privacy</h4>
                
                <p class="text-instruction text-muted">A group can be created with one of three levels of privacy.  This controls how much open your group is to the public.</p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-angle-right"></i>Public: <span class="text-instruction text-muted">Users can search and join your group freely.</span></li>
                    <li><i class="fa-li fa fa-angle-right"></i>Semi-Private: <span class="text-instruction text-muted">Users can search for your group, but must request and receive permission to join.</span></li>
                    <li><i class="fa-li fa fa-angle-right"></i>Private: <span class="text-instruction text-muted">The group is hidden and users can only join via email invitation.</span></li>
                </ul>
            </div>
        </div>        
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail-lg">
                <h4><i class="fa fa-cogs fa-4x pull-left nudge-right"></i>Administration</h4>
        
                <p class="text-instruction text-muted">A group can only be owned by a single user but other members can be made administrators. </p>
                <p class="text-instruction text-muted">Admins have extended privelidges that allow them to create events, accept new members, and send group emails.</p>
                <p class="text-instruction text-muted">Events that are created can have a max capacity, so its easy to limit the number of people who sign up.</p>
            </div>
        </div>
        
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail-lg">
                <h4><i class="fa fa-envelope fa-4x pull-left nudge-right"></i>E-Mail</h4>

                <p class="text-instruction text-muted">Group admins may send emails to all members of the group.  No need to keep a separate email list.</p>                
                <p class="text-instruction text-muted">Users may subscribe to email alerts on events.  Easily being notified of any changes or updates.</p>
            </div>
        </div>
        
    </div>
</div>



</div>