
<div class="hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="hero-slogan text-center">The easiest way to organize golf with your friends</p>            
            </div>
        </div>
    </div>

        <div class="hero-text-area">
            <div class="text-center">
                <p class="hero-text ">When are you golfing next?</p>
                <button class="center-block btn btn-primary hero-btn" onclick="window.location.href='#/signin'">Sign In</button> 
                
                <p class="more-info">More info</p>
                <p class="fa fa-angle-down fa-4x"></p>

            </div>
        </div>        
        
</div> 



<div class="container">
    
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="section-header">How It Works</div>
        </div>
    </div>
    <div class="row">            
        <div class="col-xs-12 col-md-4 col-sm-6  ">                
            <div class="thumbnail thumbnail-lg">
                <h4>Sign In <i class="fa fa-sign-in fa-4x pull-right nudge-left"></i></h4>
                <p class="text-instruction text-muted">Use an existing social network account so there is no lengthy registration process.</p>
                <p class="text-instruction text-muted">The last thing you need is another username and password to remember.</p>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-sm-6 ">
            <div class="thumbnail thumbnail-lg">
                <h4>Connect <i class="fa fa-users fa-4x pull-right nudge-left"></i></h4>
                <p class="text-instruction text-muted">Join up with your friends or create a group and let them join you.</p>
                <p class="text-instruction text-muted">Privacy controls let you decide how much others can see and who can join your events.</p>
                <p class="text-instruction text-muted"><a href="#/#groupmgmt">Read more</a> about the features of group management. </p>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-sm-6 ">
            <div class="thumbnail thumbnail-lg">
                <h4>Schedule <i class="fa fa-calendar fa-4x pull-right nudge-left"></i></h4>

                <p class="text-instruction text-muted">Quickly add events and see where you have already committed.  You'll be able to easily see upcoming events for your groups. </p>
                <p class="text-instruction text-muted">Optionally receive email notifications of any changes.</p>
            </div>                
        </div>

    </div>    


</div>



<div class="container">
    
    <div class="row">
        <div class="col-xs-12 text-center">
            <a id="groupmgmt"></a>
            <div class="section-header">Group Management</div>
        </div>
    </div>

    <div class="row">
        <p class=" text-muted">Creating a group allows for additional features that you won't get otherwise.</p>
    </div>
    <div class="row">
    
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <i class="fa fa-shield fa-4x pull-left nudge-right"></i>
                <h4>Privacy</h4>
                <p class="text-instruction text-muted">A group can be created with one of three levels of privacy.  This setting controls how much users can see of your group.</p>                
            </div>
        </div>        
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <i class="fa fa-cogs fa-4x pull-left nudge-right"></i>
                <h4>Administration</h4>
                <p class="text-instruction text-muted">A group can only be owned by a single user but other members can be made administrators.  Admins have extended privelidges that allow them to create events, accept new members, and send group emails.</p>                
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <i class="fa fa-list-ul fa-4x pull-left nudge-right"></i>
                <h4>Events</h4>
                <p class="text-instruction text-muted">Group admins can create events.  Events can be created with a maximum capacity if needed. </p>                
            </div>
        </div>
        
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <i class="fa fa-envelope fa-4x pull-left nudge-right"></i>
                <h4>E-Mail</h4>
                <p class="text-instruction text-muted">Group admins may send emails to all members of the group.  This can be handy so you don't have to keep a separate email list.</p>                
            </div>
        </div>
        
    </div>
</div>



<div class="footer">
    <div class="container">
        <p class="text-center">Next Golf Time</p>
    </div>
</div>