<div ng-controller="ScheduleCtrl">


    <div class="container">

        <div class="page-header">
            <h1>Schedule</h1>
            <p class="text-muted">people to see, golf to play</p>
        </div>
        
        <p class="text-muted">If you want more opportunities, join <a ui-sref="home.groups" href="#">more groups</a>.  You can also create events from any group you own or help manage. </p>
        
        <div class="row text-center" ng-show="loading">
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
        
        <div class="row" ng-show="!loading">
        
            <div class="col-sm-6">
                <div class="group-heading">
                          Commitments
                </div>

                          
                <div class ="no-results" ng-show="commitments.length === 0">
                    <div class="no-results-text">Add some events by joining some of the opportunites</div>
                </div>
                
                <div ng-repeat="event in commitments | orderBy:'EventDate'" ng-show="commitments.length > 0">
                    <div class="row">
                        <div class="col-xs-12">
                            <calendar-event
                                month = "{{event.EventDate | date: 'MMM'}}"
                                day = "{{event.EventDate | date: 'dd'}}"
                                weekday = "{{event.EventDate | date: 'EEEE'}}"
                                time = "{{event.EventDate | date: 'h:mm a'}}"
                                name = "{{event.EventName}}"
                                group = "{{event.GroupName}}"
                                location = "{{event.Location}}"
                                on-toggle = "leaveEvent(event.EventMemberID, event.EventID)"
                                on-view = "viewEvent(event.EventID)"
                                toggle-text = "Leave Event"
                            >                            
                            </calendar-event>                          
                        </div>
                    </div>
               </div>

            </div>
        
            
            <div class="col-sm-6">
                <div class="group-heading">Opportunities</div>
                 
                <div class ="no-results" ng-show="opportunities.length === 0">
                    <div class="no-results-text">Join or create a group to get more opportunities</div>
                </div>
                
                <div ng-repeat="event in opportunities | orderBy:'EventDate'" ng-show="opportunities.length > 0"> 
                    <div class="row">
                        <div class="col-xs-12">
                            
                            <calendar-event
                                month = "{{event.EventDate | date: 'MMM'}}"
                                day = "{{event.EventDate | date: 'dd'}}"
                                weekday = "{{event.EventDate | date: 'EEEE'}}"
                                time = "{{event.EventDate | date: 'h:mm a'}}"
                                name = "{{event.EventName}}"
                                group = "{{event.GroupName}}"
                                location = "{{event.Location}}"
                                on-toggle = "addEvent(user.id, event.EventID)"
                                on-view = "viewEvent(event.EventID)"
                                toggle-text = "Join Event"
                            >                            
                            </calendar-event>
            
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>    
        
       
    </div>  

</div>